*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}
:root{
--white: #fff;
--black:#000 ;
--gray: #545050;

--m-xl:32px;
--m-l:30px;
--m-m:26px;
--m-s:16px;
--m-xs:6px;
--m-xxs:5px;
}
.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: var(--white);
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content{
  width: 1160px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.search-form:not(.search-form__submit-button){
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  margin-top: var(--m-s);
  grid-template-areas: "video","wideo btn";
  flex-wrap: wrap;
  align-items: flex-start;
}

.search-form__label{
  display: flex;
  align-items: center;
  column-gap:var(--m-xxs);
}

.search-form__checkbox-list{
  display: flex;
}
.search-form__checkbox-list .search-form__label:not(:first-child){
  display: flex;
  align-items: center;
  column-gap: var(--m-xxs);
  margin-left: var(--m-s);
}
/*.search-form__label:not(:first-child){
  margin-left: var(--m-s);
}*/

.search-form__pseudo-checkbox{
  width: 19px;
  height: 19px;
  border: 1px solid var(--white);
}

.search-form__checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
 
}
.result{
width: 62.37%;
}

.result__video{
  width: 100%;
}

.title{
  font-family:'Oswald';
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
  margin-bottom: 26px;
}

.content__accent{
  color:var(--gray);
}

.content__list{
  height: 298px;
  overflow-y: auto;

}

.content__video-card{
  display: flex;
  justify-content: space-between;
  color: var(--white);
  text-decoration: none;
  text-transform: uppercase;
}

.content__video-card-title{
  font-family:Oswald;
  font-size: 30px;
  color: var(--white);
}

.content__video-card-description{
  font-family: 'Fira Sans Condensed';
  font-size: 18px;
}

.content__list-item{
  display: flex;
  margin-bottom: var(--m-l);
}
.content__details{
  margin-top: auto;
  margin-block-start: auto;
  width:35% ;
}

.content__video-card-thumbnail{
  width: 49.23%;
}

.content__video-card-description-container{
  width: 0;
}

.button{
  font-family: 'Fira Sans Condensed';
  color: var(--white);
  border: var(--white) solid 1px;
  background-color: transparent;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}

.more-button{
  padding: 6px 139px;
}

.search-form__submit-button{
  padding: 6px 72px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
} 

/*///////////:active////////////*/
.content__video-card:active{
  background-color:var(--gray);
}

/*.search-form__checkbox:checked + .search-form__pseudo-checkbox::after{
  content: "";
  display: flex;
  width: calc(90%);
  height: calc(90%);
  background-color: var(--white);
  align-items: center;

}*/
.button:active{
  background-color:var(--gray);
}

/*///////////:focus////////////*/
.content__video-card:focus{
  border:var(--white) solid 1px ;
}
.button:focus{
  border-style: 2px double;
  border-radius: 0;  /*дод*/
}

/*///////////:hover////////////*/